<section>
    <div class="container mt-5">
        <h2 class="text-center">Edit Product</h2>
        <form action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="product__name">Name</label>
                <input type="text" class="form-control" id="product__name" value="{{product.product__name}}" name="product__name">
            </div>
            <div class="form-group">
                <label for="product__category">Category</label>
                <input type="text" class="form-control" id="product__category" value="{{product.product__category}}" name="product__category">
            </div>
            <div class="form-group">
                <label for="product__varient">Varient</label>
                <input type="text" class="form-control" value="{{product.product__varient}}" id="product__varient" name="product__varient">
            </div>
            <div class="form-group">
                <img src="/images/product-images/{{product._id}}.jpg" width="100px" id="img__view" height="auto" alt="">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" onchange="viewNewImg(event)" class="form-control" id="image" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
<script>
    function viewNewImg(event){
        document.getElementById("img__view").src = URL.createObjectURL(event.target.files[0]);
    }
</script>