<section>
    <div class="container">
        <div class="row mt-5">
            <a href="/admin/add-product" class="btn btn-success ml-auto">Add Product</a>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Varient</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>

                {{#each products}}
                <tr>
                    <td>{{inc  @key}}</td>
                    <td>{{this.product__name}}</td>
                    <td>{{this.product__category}} </td>
                    <td>{{this.product__price}} </td>
                    <td> <img height="60px" width="auto" src="images/product-images/{{this._id}}.jpg"> </td>
                    <td>
                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="/admin/delete-product/?id={{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Are you sure, you want to delete {{this.product-name}}')">Delete</a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</section>  