{{#if total}}

<section class="container mt-5">
    <table class="table table-borderless">
        <thead>
            <tr>
                <div class="col-12">
                <th scope="col">No</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                </div>
                <div class="col-12">
                <th scope="col">Quandity</th>
                </div>
            </tr>
        </thead>
        <tbody>
            {{#each productsInCart}}
            <tr>
                <th scope="row">{{inc @key}}</th>
                {{#each products}}
                <td>{{this.product__name}}</td>
                <td>{{this.product__price}}</td>
                <td><img height="auto" width="60px" src="/images/product-images/{{this._id}}.jpg" alt=""></td>
                {{/each}}
                <td>


                    <button class="btn btn-primary"
                        onclick="changeProductCount('{{this.productId}}','{{this.userId}}',-1)">-</button>

                    <span class="text-center" id="{{this.productId}}">{{this.count}}</span>

                    <button class="btn btn-primary"
                        onclick="changeProductCount('{{this.productId}}','{{this.userId}}',1)">+</button>


                </td>
                <td>
                    <button class="btn btn-danger" onclick="removeProduct('{{this.productId}}','{{this.userId}}')">
                        Remove
                    </button>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <div style="width: 100%;">
                    <div class="card">
                        <div class="card-body ml-auto mr-auto font-weight-bold">
                            <span>Total :</span>
                            <span id="totalAmount"> {{total}} </span>
                        </div>
                    </div>
                    <div class="pt-2 pr-5">
                        <a href="/orders" class="btn btn-success float-right">Proceed to Checkout</a>
                    </div>
                </div>
            </tr>
        </thead>
    </table>
</section>
{{!-- hi there --}}
{{else}}

<section>
    <div class="container text-center pt-5 col-md-4">
        <h2>Your cart is empty! </h2><br>
        <a href="/" class="btn btn-primary">Shop Now</a>
    </div>
</section>

{{/if}}