{{#if orderDetails}}

<section>
    <div class="container">
        <table class="table text-center">
            <h2>Orders</h2>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Date Ordered</th>
                    <th scope="col">Payment Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each orderDetails}}
                <tr>
                    <th>{{inc @key}}</th>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.phno}}</td>
                    <td>{{this.total}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.payStatus}}</td>
                    <td>
                        <a href="#" class="btn btn-primary">Products</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

{{else}}

<section>
    <div class="container pt-5">
        <div><h2 class="text-center">No Orders!</h2></div>
        <div class="text-center pt-3">
            <a href="/" class="btn btn-primary">Shop Now</a>
        </div>
    </div>
</section>

{{/if}}