{{#if orderDetails}}

<section>
    <div class="container">
        <table class="table text-center">
            <h2>Orders</h2>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Date Ordered</th>
                    <th scope="col">Payment Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each orderDetails}}
                <tr>
                    <th>{{inc @key}}</th>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.phno}}</td>
                    <td>{{this.total}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.payStatus}}</td>
                    <td>
                        {{!-- <a href="/view-ordered-products/{{this._id}}" class="btn btn-primary">Products</a> --}}
                        <!-- Button trigger modal -->
                        <button onclick="viewOrderedProducts('{{this._id}}')" class="btn btn-primary"
                            data-toggle="modal" data-target="#productViewPopup">
                            Products
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="productViewPopup" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span>!!__err__development__stage__!!</span>
                                        <div class="container">
                                            <div class="firstContainer">
                                                <div class="orderPopupImage">
                                                    <img class="orderPopupImage" src="/images/product-images/5f9c2bc53bcb0a6a248fdf8b.jpg" alt="">
                                                </div>
                                                <div class="orderPopupPrice"></div>
                                                <div class="orderPopupQuantity"></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

{{else}}

<section>
    <div class="container pt-5">
        <div>
            <h2 class="text-center">No Orders!</h2>
        </div>
        <div class="text-center pt-3">
            <a href="/" class="btn btn-primary">Shop Now</a>
        </div>
    </div>
</section>

{{/if}}