<section>
    <div class="container">
        <table class="table text-center">
            <h2>Orders</h2>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Date Ordered</th>
                </tr>
            </thead>
            <tbody>
                {{#each orderDetails}}
                <tr>
                    <th>{{inc @key}}</th>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.phno}}</td>
                    <td>{{this.total}}</td>
                    <td>{{this.date}}</td>
                    <td>
                        <a href="#" class="btn btn-primary">Products</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
